body {
  background-color: #232323;
  margin: 0;
  font-family: "Arial";
}

#divColor {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  border-radius: 10px;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
}

.fadeOut {
  opacity: 0;
  transition: opacity 400ms;
}

#stripe {
  background-color: white;
  height: 30px;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.selected {
  background: steelblue;
  color: white;
}

#colorDisplay {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  transition: all 500ms;
  outline: none;
}

.text-style {
  text-transform: uppercase;
  height: 100%;
  font-weight: 800;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  font: inherit;
}

button:hover {
  color: white;
  background-color: steelblue;
}
