h1 {
  color: #2c3e50;
  margin-left: 5%;
  font-size: 40px;
}

body {
  max-width: 700px;
  border: 20px solid #bdc3c7;
  margin: auto;
  font-family: source sans pro;
  padding: 20px;
  width: 80%;
}

h3 {
  color: #3498db;
  text-transform: uppercase;
  margin-left: 5%;
  letter-spacing: 10rem;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

.indent {
  border-left: 5px solid #bdc3c7;
}

hr {
  margin-left: 5%;
  margin-right: 5%;
}
