/* Font family */
p {
  font-family: Arial;
}

/* font-size */
p {
  font-size: medium;
}
/* font-weight */
p {
  font-weight: 200;
}
/* line-height */
p {
  line-height: 25px;
}
/* text-align */
p {
  text-align: left;
}
/* text-decoration */
h1 {
  text-decoration: underline;
}

p {
  text-decoration: line-through;
}

/* custom fonts */
h1 {
  font-family: Comic Neue;
}
