td {
  width: 100px;
  height: 100px;
  /* background-color: pink; */
}

.right {
  border-right: 1px solid black;
}

.horizontal {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.vertical {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

#horizontal {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

table {
  margin: auto;
}

h1 {
  text-align: center;
}
